@font-face {
  font-family: 'Leto Sans';
  src: url('../fonts/leto/LetoSans-Thin.eot');
  src: local('Leto Sans Thin'), local('LetoSans-Thin'),
  url('../fonts/leto/LetoSans-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leto/LetoSans-Thin.woff2') format('woff2'),
  url('../fonts/leto/LetoSans-Thin.woff') format('woff'),
  url('../fonts/leto/LetoSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans Condensed';
  src: url('../fonts/leto/LetoSansCondensed-Regular.eot');
  src: local('Leto Sans Condensed Regular'), local('LetoSansCondensed-Regular'),
  url('../fonts/leto/LetoSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leto/LetoSansCondensed-Regular.woff2') format('woff2'),
  url('../fonts/leto/LetoSansCondensed-Regular.woff') format('woff'),
  url('../fonts/leto/LetoSansCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans';
  src: url('../fonts/leto/LetoSans-Bold.eot');
  src: local('Leto Sans Bold'), local('LetoSans-Bold'),
  url('../fonts/leto/LetoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leto/LetoSans-Bold.woff2') format('woff2'),
  url('../fonts/leto/LetoSans-Bold.woff') format('woff'),
  url('../fonts/leto/LetoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans Condensed';
  src: url('../fonts/leto/LetoSansCondensed-Thin.eot');
  src: local('Leto Sans Condensed Thin'), local('LetoSansCondensed-Thin'),
  url('../fonts/leto/LetoSansCondensed-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leto/LetoSansCondensed-Thin.woff2') format('woff2'),
  url('../fonts/leto/LetoSansCondensed-Thin.woff') format('woff'),
  url('../fonts/leto/LetoSansCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans';
  src: url('../fonts/leto/LetoSans-Regular.eot');
  src: local('Leto Sans Regular'), local('LetoSans-Regular'),
  url('../fonts/leto/LetoSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leto/LetoSans-Regular.woff2') format('woff2'),
  url('../fonts/leto/LetoSans-Regular.woff') format('woff'),
  url('../fonts/leto/LetoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Leto Sans Condensed';
  src: url('../fonts/leto/LetoSansCondensed-Bold.eot');
  src: local('Leto Sans Condensed Bold'), local('LetoSansCondensed-Bold'),
  url('../fonts/leto/LetoSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leto/LetoSansCondensed-Bold.woff2') format('woff2'),
  url('../fonts/leto/LetoSansCondensed-Bold.woff') format('woff'),
  url('../fonts/leto/LetoSansCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

