@media screen and (max-width: 1890px) {
  .steps-list span {
    font-size: 30px;
    line-height: 1;
  }
  .steps-list {
    gap: 50px;
  }
  .about-hero__cont .sub-title {
    max-width: 650px;
  }
  .btn-project.active p {
    font-size: 30px;
  }
  .projects-block {
    width: 64%;
  }
  .projects-list {
    width: calc(100% - 20px - 64%);
  }
  .sub-title {
    font-size: 60px;
  }
  .footer-left p {
    font-size: 60px;
  }
}

@media screen and (max-width: 1780px) {
  .projects-cont .slider-btn {
    &.slider-btn--prev {
      left: -20px;
    }

    &.slider-btn--next {
      right: -20px;
    }
  }
  .projects-hero-text {
    padding: 20px 0;
  }
  .projects-cont {
    padding: 20px 0;
  }
  .calculation-text {
    padding-top: 90px;
  }
  .input-wrap input {
    font-size: 20px;
    &::placeholder {
      font-size: 20px;
    }
  }
  .input-checkbox span img {
    width: 26px;
    margin-right: 10px;
  }
  .calculation-left span {
    font-size: 30px;
  }
  .input-wrap label {
    font-size: 20px;
  }
  .input-file>span {
    height: 43px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1700px) {
  .contacts-block {
    padding: 30px 0;
  }
  .contacts-block {
    > a {
      font-size: 30px;
    }
    > span {
      font-size: 30px;
    }
  }
  .contacts-block .footer-contacts {
    margin-top: 30px;
  }
  .projects-cont {
    padding: 20px 60px;
  }
  .history-stat span {
    font-size: 100px;
  }

  .footer .container {
    padding-bottom: 20px;
  }
  .sub-title {
    font-size: 56px;
  }
  .footer-left p {
    font-size: 56px;
  }
  .hero-cont p, .hero-cont h1 {
    font-size: 60px;
  }
  .hidden-menu .menu ul li a {
    font-size: 54px;
    line-height: 70px;
  }
  .hidden-menu .menu ul li.active a, .hidden-menu .menu ul li.current-menu-item a {
    font-size: 70px;
  }
  .slider-other .swiper .swiper-slide p {
    font-size: 30px;
    line-height: 1.2;
  }
  .quality-left ul li a {
    font-size: 30px;
    line-height: 46px;
  }
}
@media screen and (max-width: 1640px) {
  .header-follow {
    left: auto;
    right: 60px;
    top: 20px;
    transform: translate(0, -50%);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    > p {
      writing-mode: initial;
      transform: none;
    }
    .socials {
      margin-left: 15px;
      margin-top: 0;
      flex-direction: row;
    }
  }
}
@media screen and (max-width: 1600px) {
  .project-photo-cont .text {
    padding: 0 70px;

    p {
      font-size: 16px;
      line-height: 1.4;
    }
  }
  .project-slide .project-left {
    padding: 20px;
  }
  .project-table ul li {
    p {
      font-size: 16px;
    }

    span {
      font-size: 16px;
    }
  }
  .project-table {
    width: 390px;
    padding: 20px 20px 20px 40px;
  }
  .project-slide .project-left > p {
    font-size: 16px;
    line-height: 1.3;
  }
  .project-slide .project-left .btn {
    margin-top: 45px;
  }
  .projects-tabs ul {
    gap: 25px;

    li {
      a {
        font-size: 16px;
        line-height: 1;
      }
    }
  }

  .header-socs {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-left: 30px;
    justify-content: flex-start;
    writing-mode: initial;
    position: static;

    > p {
      transform: none;
    }

    .socials {
      flex-direction: row;
    }
  }
  .header-container {
    .logo {
      width: 190px;
    }
  }
  .detailed-cont {
    padding: 20px 0;
  }
  .sub-title {
    font-size: 50px;
  }
  .footer-left {
    gap: 30px;
  }
  .footer-left p {
    font-size: 50px;
  }
  .footer-head {
    p {
      font-size: 34px;

      strong {
        &::after {
          height: 34px;
          transform: translate(0, 4px);
        }
      }
    }

    a {
      font-size: 34px;
    }
  }
  .header-container {
    padding: 20px 0;
  }
  .header::after {
    top: 24px;
  }
  .burger {
    margin-top: 12px;
  }
  body.fp-viewing-footer .footer .container::after {
    content: none;
  }
  .project-tab__text {
    bottom: 30px;
  }
  .hero-cont .img {
    width: 74%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1500px) {
  .header-follow {
    right: 200px;
    top: 50%;
    transform: translate(0, -50%);
  }

  .calculation-text {
    align-items: center;
    padding: 30px 0;
  }
  .tech-section__top p {
    font-size: 16px;
    max-width: 510px;
  }
  .single-quality .txt span {
    font-size: 20px;
    line-height: 1.3;
  }
  .about-hero__cont ul li a {
    font-size: 24px;
    line-height: 48px;
  }
  .about-hero__cont ul li.active {
    a {
      font-size: 48px;
    }
  }
  .steps-list span {
    font-size: 28px;
  }
  .header::after {
    top: 16px;
  }
  .hidden-menu .menu ul li {
    a {
      font-size: 38px;
      line-height: 52px;
    }
  }
  .hidden-menu .menu ul li.active a, .hidden-menu .menu ul li.current-menu-item a {
    font-size: 52px;
  }
  .sub-title {
    font-size: 46px;
  }
  .contact-footer {
    a {
      font-size: 22px;
    }

    p {
      font-size: 22px;
    }

    span {
      font-size: 22px;
    }
  }
  .footer-bot .footer-logo {
    width: 190px;
  }
  .footer-left p {
    font-size: 46px;
  }
  .projects-list {
    padding-right: 25px;
    width: calc(100% - 20px - 55%);
    gap: 6px;
  }
  .projects-block {
    width: 55%;
  }
  .sub-title {
    br {
      display: none;
    }
  }
  .detailed-cont {
    max-width: 45vw;
  }
  .projects-top {
    padding: 25px 0 17px;
  }
  .detailed-head {
    padding: 25px 0 17px;
  }
  body::after {
    right: 20px;
  }
  .header::before {
    right: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .input-wrap input {
    font-size: 18px;
    &::placeholder {
      font-size: 18px;
    }
  }
  .btn.btn--fill {
    padding: 15px 42px;
  }
  .input-checkbox span {
    font-size: 16px;
    padding: 8px;
    img {
      width: 22px;
    }
  }
  .form form {
    gap: 20px;
  }
  .calculation-right .input-wrap {
    width: calc(50% - 10px);
  }
  .input-wrap {
    label {
      font-size: 18px;
    }
  }
  .input-file>span {
    font-size: 18px;
    height: 40px;
  }
  .calculation-left p {
    font-size: 18px;
  }
  .calculation-left {
    width: 470px;
  }
  .projects-tabs ul {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-table {
    transform: translate(-20%, 0);
    padding: 20px;
  }
  .slider-other .slider-btn {
    left: 40px;

    &.slider-btn--next {
      left: auto;
      right: 40px;
    }
  }
  .tech-section__cont {
    padding-left: 40px;
    padding-right: 40px;

    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .history-left {
    padding-left: 40px;
    padding-right: 40px;
  }
  .history-stat span {
    font-size: 80px;
  }

  .history-left {
    gap: 80px;
  }
  .history-right {
    padding-left: 10%;
    padding-right: 14%;
  }
  .steps-right .projects-top .sub-title {
    padding-left: 100px;
    padding-right: 60px;
  }
  .steps-list {
    padding-left: 100px;
    padding-right: 60px;
  }
  .steps-list {
    gap: 35px;
  }
  .hero-cont .img {
    width: 66%;
  }
  .hero-cont p, .hero-cont h1 {
    font-size: 52px;
  }
  .sub-title {
    font-size: 42px;
  }
  .footer-contacts {
    gap: 17px;
  }
  .contact-footer {
    span, p, a {
      font-size: 20px;
    }
  }
  .footer-head {
    p, a {
      font-size: 30px;

      strong {
        &::after {
          height: 30px;
          transform: translate(0, 4px);
        }
      }
    }
  }
  .footer-left p {
    font-size: 42px;
  }
  .project-cont {
    padding: 25px 0;
  }
}

@media screen and (max-width: 1350px) {


  .steps-right .projects-top .sub-title {
    padding-left: 40px;
    padding-right: 40px;
  }
  .steps-list {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header-follow {
    right: 100px;
    > p {
      font-size: 14px;
    }
    .socials a {
      width: 20px;
      height: 20px;
    }
  }

  .project-slide .project-left {
    padding: 0 10px 0 0;
  }
  .project-table ul li span {
    width: 160px;
  }
  .projects-tabs ul {
    gap: 14px;
  }
  .project-slide .project-left {
    gap: 14px;
  }
  .btn.btn--trans {
    padding: 15px 37px;
  }
  .project-slide {
    .project-right {
      width: 48%;
    }

    .project-left {
      width: 52%;
    }
  }
  .quality-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }
  .quality-left {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
  }
  .quality-right {
    width: 100%;
    margin-top: auto;
    padding-bottom: 20px;
  }
  .quality-tab {
    gap: 20px;
  }
  .single-quality {
    width: calc((25% - (60px / 4)));
  }
  .quality-left ul li a {
    font-size: 26px;
    line-height: 1.4;
  }
  .quality-left {
    gap: 50px;

    .txt {
      gap: 10px;

      p {
        font-size: 16px;
        line-height: 1.4;
      }
    }
  }
  .steps-list span {
    font-size: 20px;
  }
  .hero-cont p, .hero-cont h1 {
    font-size: 46px;
  }
  .footer-head a, .footer-head p {
    font-size: 26px;

    strong {
      &::after {
        height: 26px;
        transform: translate(0, 3px);
      }
    }
  }
  .projects-list {
    padding-right: 0;
  }
  .burger {
    width: 42px;
    height: 22px;
    margin-right: 0;
    margin-top: 6px;
  }
  .footer .container {
    padding-bottom: 0;
  }
  .footer-bot .footer-logo {
    width: 160px;
  }
  .header-container {
    .logo {
      width: 160px;
    }
  }

  .sub-title {
    font-size: 34px;
  }
  .btn-project.active p {
    font-size: 28px;
  }
  .footer-left p {
    font-size: 34px;
  }
  .hidden-menu .menu ul li a {
    font-size: 32px;
    line-height: 42px;
  }
  .hidden-menu .menu ul li.active a, .hidden-menu .menu ul li.current-menu-item a {
    font-size: 42px;
  }
}

@media screen and (max-width: 1120px) {
  .contacts-block {
    > a {
      font-size: 20px;

    }
    > span {
      font-size: 24px;
    }
  }
  .project-slide .project-right {
    .img {
      display: none;
    }

    .project-table {
      position: static;
      width: 100%;
      transform: translate(0, 0);
    }
  }
  .steps-list span {
    font-size: 20px;
  }
  .btn-project.active p {
    font-size: 26px;
  }
  .project-tab__block .btn {
    opacity: 1;
    white-space: nowrap;
  }
  .project-slide .project-right .project-table {
    transform: scaleX(0);
  }
  .projects-cont .swiper .swiper-slide.swiper-slide-active .project-table {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 1025px) {
  .calculation-left span {
    font-size: 24px;
  }
  .input-wrap label {
    font-size: 16px;
  }
  .calculation-left p {
    font-size: 16px;
  }
  .calculation-left {
    width: 370px;
  }
  .checkboxes-wrap {
    flex-wrap: wrap;
    gap: 20px;
  }
  .input-checkbox {
    width: calc(50% - 10px);
  }
  .proj-photo {
    width: 100%;
  }
  .single-project-bg {
    width: 49%;
  }
  .projects-heros-text {
    width: 51%;
  }
  .slider-other .swiper .swiper-slide p {
    font-size: 24px;
  }
  .slider-other .swiper .swiper-slide.swiper-slide-next + .swiper-slide {
    opacity: 0.3;
  }
  .slider-other .swiper {
    //width: 100%;
    //padding-left: 20px;
    //padding-right: 20px;
  }
  .tech-section__top .sub-title {
    width: 50%;
    display: inline-block;
    flex-shrink: 0;
  }
  .single-quality {
    gap: 6px;
  }
  .single-quality .txt {
    gap: 5px;
  }
  .single-quality .txt span {
    font-size: 18px;
  }
  .quality-left ul li a {
    font-size: 20px;
    line-height: 1.5;
  }
  .tech-section-four .img {
    height: 0;
    padding-top: calc(50% - 10px);

  }
  .tech-section-double .img {
    padding-top: calc(50% - 10px);
  }
  .about-hero__cont ul li a {
    font-size: 18px;
    line-height: 36px;
  }
  .about-hero__cont ul li.active {
    a {
      font-size: 36px;
    }
  }
  .steps-list span.active .arr {
    width: 35px;
    height: 35px;
    margin-right: 13px;
  }
  .steps {
    height: auto;
    align-items: stretch;
  }
  .steps-right {
    height: auto;
  }
  .history-wrap {
    height: auto;
  }
  .history-right {
    height: auto;
    padding-left: 9%;
    padding-right: 11%;
  }
  .history-images {
    .img {
      &:nth-child(2) {
        width: 34%;
        padding-top: 55%;
      }
    }
  }
  .project-cont {
    min-height: 400px;
    align-items: center;
  }
  .btn .arr {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  .project-tab__text {
    padding: 15px 25px;
  }
  .btn-project {
    min-height: 35px;
  }
  .btn-project.active .arr {
    width: 35px;
    height: 35px;
    margin-left: 10px;
  }
  .footer-center {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .detailed-img {
    padding-top: 55vh;
  }
  .detailed-cont {
    max-width: 56vw;
  }
  .footer-left p {
    font-size: 28px;
  }
  .contact-footer a, .contact-footer p, .contact-footer span {
    font-size: 18px;
  }
  .sub-title {
    font-size: 28px;
  }
  .full-page > .section {
    &:not(.hero) {
      height: auto !important;
      padding-top: 0 !important;
    }
  }
  .header {
    &.header-fixed {
      transform: translate(0, 0);
    }
  }
}

@media screen and (max-width: 980px) {
  .project-photo-cont .text {
    padding: 0 40px;
    width: 60%;
  }
  .project-photo-cont .img {
    width: 40%;
  }
  .projects-hero-text {
    padding: 15px 0;
  }
  .tech-section__cont {
    padding-left: 20px;
    padding-right: 20px;
  }
  .steps-left {
    height: 0;
    padding-top: 55%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .steps-right .projects-top .sub-title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .steps-list {
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }
  .history-left {
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
  }
  .hero-cont p, .hero-cont h1 {
    font-size: 34px;
  }
  .projects-block {
    width: 100%;
  }
  .container {
    padding: 0 20px;
  }
  .header .container {
    padding: 0 20px;
  }
  .project-cont {
    padding: 30px 20px;

    > .container {
      display: none;
    }
  }
  .projects-block {
    position: static;

    .project-tab__head {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 15px;

      p {
        transition: all 0.3s ease-in-out;
        color: $main-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 20px;
        text-transform: uppercase;
        vertical-align: middle;
        padding-top: 5px;
      }

      .arr {
        width: 35px;
        height: 35px;
        //border: 1px solid #6C6769;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        margin-left: auto;
        position: relative;

        svg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          rect {
            stroke-dashoffset: 0;
            transition: all 0.4s ease-in-out;
          }
        }

        img {
          width: 13px;
          height: auto;
          transform: rotate(-90deg);
        }
      }

      &:hover {
        .arr {
          svg {
            rect {
              stroke-dashoffset: 320;
            }
          }
        }
      }

      &.active {
        p {
          color: #fff;
          font-weight: 400;
        }

        .arr {
          border-color: #fff;

          img {
            transform: rotate(90deg);
          }
        }

        & ~ .project-tab__block {
          display: flex;
        }
      }
    }
  }
  body {
    &::after {
      right: 10px;
    }
  }
  .header {
    &::before {
      right: 10px;
    }
  }
  .project-tab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    position: relative;

    &::after {
      right: 0;
      height: 1px;
      width: 0;
      background: $grey;
      display: inline-block;
      content: '';
      position: absolute;
      bottom: 0;
      transition: all 0.5s ease-in-out;
    }

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        &::after {
          transition-delay: calc(0.09s * #{$i});
        }

      }
    }
  }
  .project-tab__block {
    height: auto;
    display: none;
    padding-bottom: 10px;

    .bg {
      width: 100%;
      height: 0;
      padding-top: 50%;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .footer-head a, .footer-head p {
    font-size: 22px;

    strong {
      &::after {
        height: 22px;
        width: 2px;
        transform: translate(0, 3px);
      }
    }
  }

}

@media screen and (max-width: 900px) {
  .project-slide {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    .project-left {
      width: 100%;
      padding: 0;
      margin-top: auto;
      margin-bottom: auto;

      .btn {
        margin-top: 20px;
      }
    }

    .project-right {
      width: 100%;
      padding: 0;
      margin-top: auto;
    }

  }
  .quality-left {
    gap: 20px;
    padding: 20px 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .txt {
      width: 100%;
    }

    ul {
      flex-direction: row;
      gap: 12px;
      width: 100%;
      justify-content: space-between;

      li {
        justify-content: center;
      }
    }
  }
  .scrl-down {
    gap: 16px;

    img {
      width: 14px;
      height: 32px;
    }
  }
  .scrl-down p {
    font-size: 10px;
    line-height: 1.5;
  }
  .single-quality {
    width: calc((50% - 10px));
    gap: 10px;
  }
  .tech-section__top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .sub-title {
      width: 100%;
    }

    p {
      padding-left: 0;
    }
  }
}

@media screen and (max-width: 860px) {
  .calculation-text {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    padding: 50px 0;
  }
  .calculation-left {
    width: 100%;
    padding-right: 0;
    padding-top: 0;
  }
  .calculation-right {
    width: 100%;
  }
  .photos-block {

  }
  .photos-proj {
    padding: 10px 0;
  }
  .full-page>.section:not(.hero).photos-block {
    padding-bottom: 0;
  }
  .photos-slider {
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 70px 0px;
    position: relative;
    .dots {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
    }
    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      .single-dot {
        width: 8px;
        height: 8px;
        cursor: pointer;
        background: #fff;
        border-radius: 50%;

        &.active, &:hover {
          transform: scale(1.4);
          background: $burger;
        }
      }
    }

    .slider-btn {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 10px;
      transform: translate(0, -50%);
      &.slider-btn--next {
        left: auto;
        right: 10px;
      }
    }
    .slider-btn svg rect {
      fill: #BBB4A7 !important;

    }
    .slider-btn {
      img {
        filter: brightness(0);
      }
      &:hover {
        img {
          filter: none;
        }
        svg {
          rect {
            fill: rgba(255, 255, 255, 0) !important;
          }
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
    }

    .swiper-slide {
      width: 100%;
      height: 100%;
      display: flex;

      .img {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .contacts-block {
    width: 100%;
    padding: 60px 0;

  }
  .hero-contacts {
    display: flex;
    flex-direction: column-reverse;
    height: auto !important;
    position: relative;
    .container {
      position: static;
    }
    .footer-bot {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      padding-left: 20px;
      padding-right: 20px;
    }
    .map-bg {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 60%;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      .mapbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

    }
  }
}
@media screen and (max-width: 767px) {
  .calculation-left  {
    gap: 8px;
    span {
      font-size: 20px;
    }
  }
  .hero-calculation {
    height: auto !important;
    .btn.btn--fill {
      width: 100%;
      padding: 10px 30px;
    }
  }
  .project-photo-cont {
    padding: 40px 0;
  }
  .project-photo-cont .text {
    gap: 14px;
    padding-right: 0;
  }
  .hero-techs .hero-cont {
    padding-bottom: 0;
  }
  .single-tech-cont p {
    font-size: 16px;
    line-height: 1.4;
  }
  .hero-single {
    .bg {
      &::after {
        opacity: 0.8;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(23, 21, 21, .85) 0%, #232021 100%);
      }
    }
  }
  .single-tech-cont {
    .sub-title {
      font-size: 28px !important;
    }
  }
  .about-hero__cont ul li a {
    font-size: 18px;
    line-height: 26px;
  }
  .about-hero__cont ul {
    align-items: center;
    gap: 10px;
  }
  .about-hero__cont ul li.active {
    a {
      font-size: 26px;
      text-align: center;
    }
  }
  .header-socs {
    display: none;
  }
  .about-hero__cont {
    .hero-cont {
      align-items: center;
      justify-content: center;

      .sub-title {
        text-align: center;
      }
    }
  }
  .full-page > .section:not(.hero) {
    &.steps {
      padding-bottom: 0;
    }
  }
  .history-wrap {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .history-right {
    display: none;
  }
  .history-left {
    width: 100%;
    gap: 40px;

    &::after {
      content: none;
    }
  }
  .history-stat {
    span {
      font-size: 56px;
    }
  }
  .footer {
    padding-bottom: 0 !important;
  }
  .contact-footer a, .contact-footer p, .contact-footer span {
    font-size: 16px;
  }
  .contact-footer span {
    font-size: 18px;
  }
  .sub-title {
    font-size: 24px;
  }
  .full-page > .section:not(.hero) {
    padding-bottom: 20px;
  }
  .hidden-menu .menu ul li a {
    font-size: 24px;
    line-height: 34px;
  }
  .hidden-menu .menu ul li.active a, .hidden-menu .menu ul li.current-menu-item a {
    font-size: 34px;
  }
  .hero-cont .img {
    width: 80%;
  }
  .footer-head {
    gap: 14px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer-left {
    gap: 24px;
  }
  .footer-contacts {
    gap: 14px;
  }

  .socials {
    gap: 20px;

    a {
      width: 25px;
      height: 25px;
    }
  }
  .footer-bot {
    gap: 14px;
  }
  .footer-left p {
    font-size: 24px;
  }
  .header-container .logo {
    width: 120px;
  }
  .burger {
    margin-top: 4px;
  }
  .header::after {
    top: 10px;
  }
  .header-container {
    padding: 15px 0;
  }
  .footer-bot .footer-logo {
    width: 120px;
  }
  .detailed-cont {
    max-width: 100%;
  }
  .detailed-img {
    padding-top: 60%;
  }
}

@media screen and (max-width: 670px) {
  .project-slide .project-left .btn {
    margin-top: 0;
  }
  .project-slide .project-right .img {
    padding-top: 40%;
    img {
      object-fit: cover;
    }
  }
  .project-slide .project-right {
    display: flex;
    flex-direction: column-reverse;
    .img {
      display: flex;
    }

  }
  .photos-proj {
    flex-direction: column;
    .proj-photo-double {
      width: 100%;
      height: auto;
      .img {
        width: 100%;
        padding-top: 70%;
        position: relative;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .proj-photo .img {
    width: 100%;
    height: 0;
    padding-top: 70%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .single-project-bg {
    width: 100%;
    bottom: 70%;
    opacity: 0.4;
  }
  .photos-slider {
    padding: 30px 0 60px;
  }
  .project-photo-cont {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    .img {
      width: 100%;
      height: 0;
      padding-top: 100%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
      }
    }
    .text {
      width: 100%;
      padding: 20px 0 0;
    }
  }
  .projects-heros-text {
    width: 100%;
  }
  .projects-heros-text .scrl-down {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .projects-tabs ul {
    justify-content: flex-start;
  }
  .projects-tabs ul {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;

    li {
      flex-shrink: 0;
      a {
        flex-shrink: 0;
      }
    }
  }
  .projects-cont .slider-btn {
    width: 30px;
    height: 30px;
    z-index: 5;

    &.slider-btn--prev {
      left: -15px;
    }

    &.slider-btn--next {
      right: -15px;
    }
  }
  .projects-cont .swiper {
    width: calc(100% + 90px);
    margin-left: -45px;
    margin-right: -45px;

    .swiper-slide {
      padding: 0 45px;
    }
  }
  .project-slide .project-right .project-table {
    width: calc(100% + 90px);
    margin-left: -45px;
  }
  .projects-cont {
    padding: 15px 45px;
  }
  .steps {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .steps-list {
    > span {
      line-height: 35px;
    }
  }
  .steps-left {
    width: calc(100% - 10px);
    height: 0;
    padding-top: 42%;
    position: relative;
    border-top: 1px solid #6c6769;
    margin-right: 10px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &::after {
      content: none;
    }
  }
  .steps-right {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-follow {
    top: 100%;
    right: 20px;
    transform: translate(0, 0);
    padding: 30px 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .header {
    &.active {
      .header-follow {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
  .hero-contacts .map-bg {
    padding-top: 100%;
    margin-bottom: 60px;
  }
  .calculation-right .input-wrap {
    width: 100%;
  }
  .input-checkbox {
    width: 100%;
  }
  .input-wrap input {
    padding: 5px 0;
  }
  .slider-other .swiper {
    width: 190%;
  }
  .slider-other .swiper .swiper-slide {
    padding-top: 18%;
  }
  .slider-other .slider-btn {
    left: 20px;

    &.slider-btn--next {
      left: auto;
      right: 20px;
    }
  }
  .slider-other {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tech-section-double {
    flex-direction: column;

    .img {
      width: 100% !important;

      .img-wrap {
        width: 100% !important;
      }
    }
  }
  .tech-section__top {
    gap: 10px;
  }
  .quality-left ul {
    flex-wrap: wrap;
    gap: 10px;

    li {
      width: 100%;
      justify-content: flex-start;
    }
  }
  .quality-cont {
    gap: 10px;
  }
  .single-quality {
    width: 100%;
  }

  .quality-left ul {
    gap: 10px;
  }
  .single-quality .txt p {
    color: $main-color;
  }
  .quality-left ul li a {
    font-size: 18px;
  }
  .tech-section-four {
    flex-wrap: wrap;

    .img {
      width: calc(50% - 10px);
    }
  }
  .tech-section-four .img:hover {
    width: calc(50% - 10px);
  }
  .tech-section-four:hover .img:not(:hover) {
    width: calc(50% - 10px);
  }
  .project-tab__text {
    bottom: 10px;
    width: 100%;
    justify-content: center;
  }
  .footer-left p {
    font-size: 26px;
  }
  .footer-contacts {
    width: 100%;
  }
  .contact-footer {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    p, a, span {
      text-align: center;
    }
  }
  .footer-center {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-left {
    width: 100%;
    align-items: center;

  }
  .hero.hero-about {
    .container {
      z-index: 4;
    }
  }
  .hero.hero-about .bg {
    &::after {
      opacity: 0.5;
      background: #232021;
      z-index: 2;
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }
}

@media screen and (max-width: 525px) {
  .dots {
    gap: 12px;

    .single-dot {
      width: 8px;
      height: 8px;
      cursor: pointer;
      background: #fff;
      border-radius: 50%;

      &.active, &:hover {
        transform: scale(1.4);
        background: $burger;
      }
    }
  }
  .btn.btn--trans {
    font-size: 14px;
  }
  .project-slide .project-left > p {
    font-size: 14px;
  }
  .project-slide .project-right .project-table {
    width: 100%;
    margin-left: 0;
  }
  .projects-cont {
    .btns {
      display: none;
    }

    .dots {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -20px;
    }

    .swiper {
      .swiper-slide {
        padding: 0;
      }
    }
  }
  .steps-list > span {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.4;

    &.active {
      opacity: 1;

      .arr {
        display: none;
        width: 0;
        height: 0;
        margin-right: 0;
      }
    }
  }
  .header-container {
    align-items: center;
  }
  .project-cont {
    padding: 30px 10px;
  }
  .projects-block .project-tab__head {
    padding: 15px 10px;
  }
  .footer-bot {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .demi {
      position: static;
      order: 3;
      transform: translate(0, 0);
      text-align: center;
      width: 100%;
    }

    .socials {
      order: 2;
    }

    .footer-logo {
      order: 1;
    }

  }
  .footer-head a, .footer-head p {
    font-size: 20px;

    strong {
      width: 100%;
      display: inline-block;
    }
  }
  .hero-cont .img {
    width: 100%;
  }
  .detailed-img {
    padding-top: 64%;
  }
}

